.main-container {
  margin: var(--dr-spacing-6) auto 0;
  max-width: 60rem;
  width: 94%;
}

.card {
  box-shadow: inset 0 0 0 1px var(--dr-eta);
  border-radius: var(--dr-spacing-1);
  border-radius: var(--dr-spacing-3);
  background-color: var(--dr-gamma);
  padding: var(--dr-spacing-4);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 50rem;
  width: 100%;
}
