main {
  width: 92%;
  max-width: 600px;
  margin: 0 auto;
}

footer {
  height: 20rem;
  width: 100%;
}

.btn-primary {
  background-color: var(--dr-delta);
  color: var(--dr-alpha);
  padding: 1.6rem 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  background-color: rgba(var(--dr-alpha-rgb), 0.2);
  color: var(--dr-alpha);
  display: block;
  padding: 1.6rem 2rem;
  border-radius: 2rem;
  border: 0.1rem solid rgba(var(--dr-alpha-rgb), 0.25);
  cursor: pointer;
}

header {
  padding: 2rem;
  img {
    width: 5rem;
    max-width: 5rem;
    margin: 0 auto 0 0;
    object-fit: contain;
    object-position: center;
    display: block;
  }
}
