{{define "head"}}
<!-- Analytics -->
<script
  defer=""
  data-domain="shrood.app"
  src="https://plausible.io/js/script.js"
></script>

<!-- Meta -->
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no"
/>
<link rel="icon" type="image/png" href="/public/images/wattamellon.png" />

<!-- SEO -->
<link rel="canonical" href="https://shrood.app/apps/wattamellon" />
<link rel="alternate" hreflang="en" href="https://shrood.app" />
<meta property="og:site_name" content="Shrood" />
<meta name="robots" content="index, follow" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Wattamellon - How well do you know me?" />
<meta property="og:locale" content="en_US" />
<meta name="twitter:title" content="Wattamellon - How well do you know me?" />
<meta property="og:article:author" content="Daniel Rangel" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@shrood" />
<meta name="twitter:creator" content="@yodarango" />
<meta
  property="og:image"
  content="/public/images/wattamellon_splash.png.webp"
/>
<meta
  name="keywords"
  content="Wattamellon, friendship trivia game, who knows me best, social quiz app, funny friend quiz, viral quiz game, party game, friend group challenge, quiz about me, best friend test, fun with friends, get to know your friends, who knows you better, multiplayer quiz"
/>

<meta
  name="description"
  content="Wattamellon is the ultimate friendship test — create quizzes about yourself and see which of your friends actually knows you best. Laugh and reveal the unexpected. It’s social, fun, and a bit more personal than your average trivia game."
/>
<meta property="og:url" content="https://shrood.app/apps/wattamellon" />
<meta
  property="og:description"
  content="Wattamellon is the ultimate friendship test — create quizzes about yourself and see which of your friends actually knows you best. Laugh and reveal the unexpected. It’s social, fun, and a bit more personal than your average trivia game."
/>
<meta
  name="twitter:description"
  content="Wattamellon is the ultimate friendship test — create quizzes about yourself and see which of your friends actually knows you best. Laugh and reveal the unexpected. It’s social, fun, and a bit more personal than your average trivia game."
/>
<meta name="twitter:image" content="/public/images/wattamellon_splash.png" />

<link rel="apple-touch-icon" href="/public/images/wattamellon_splash.png" />

<!-- manifest and local data -->
<link rel="manifest" href="/public/manifest.json" />
<script src="/public/avatars.js"></script>
<script src="/public/categories_db.js"></script>

<!-- icons -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<!-- Styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.danielrangel.net/fullds.min.css"
/>
<link rel="stylesheet" type="text/css" href="/public/app.css" />

<!-- Title can be overridden in specific templates -->
<title>
  {{if .Title}}{{.Title}}{{else}}Shrood | Wattamellon - How well do you know
  me?{{end}}
</title>

<script>
  /*************************************************************************************************
   * Gets the cookie value by name
   * ***********************************************************************************************/
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(";").shift();
    return null;
  }

  /*************************************************************************************************
   * Generates a random token for the game
   * ***********************************************************************************************/
  function generateToken() {
    let token = "";
    const chars = "abcdefghijklmnopqrstuvwxyz0123456789";
    for (let i = 0; i < 25; i++) {
      token += chars.charAt(Math.floor(Math.random() * chars.length));
    }
    return token;
  }

  /*************************************************************************************************
   * Give me a token, whole or partial, and I will update the local storage with the token. Give me
   * also the key
   * **********************************************************************************************/
  function updateGameState(token, name) {
    const currentToken = localStorage.getItem(name);
    token = { ...JSON.parse(currentToken || "{}"), ...token };
    localStorage.setItem(name, JSON.stringify(token));
  }

  /*************************************************************************************************
   * As soon as the page loads, write the user token id to the cookie storage
   * ***********************************************************************************************/
  window.onload = function () {
    const userToken = getCookie("player_token");
    if (userToken) return;
    document.cookie = "player_token=" + generateToken();
  };

  /*************************************************************************************************
   * Get and return the game token from the local storage, just give me the name
   * **********************************************************************************************/
  function getGameStateFromLocalStorage(name) {
    let gameToken = localStorage.getItem(name);
    gameToken = JSON.parse(gameToken || "{}");
    return gameToken;
  }

  /*************************************************************************************************
   * Give me an array and I will return a random selection of 2 options
   * **********************************************************************************************/
  function getRandomOptions(options) {
    const keys = Object.keys(options);
    shuffleArray(keys);
    return keys.slice(0, 2).map((key) => ({ id: key, value: options[key] }));
  }

  /*************************************************************************************************
   * Give me an array and I will shuffle it. I will NOT return anything. I modify the original
   * **********************************************************************************************/
  function shuffleArray(array) {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      [array[i], array[j]] = [array[j], array[i]];
    }
  }

  function deleteGameState(name) {
    localStorage.removeItem(name);
  }

  function getUserToken() {
    return getCookie("player_token");
  }
</script>
{{end}}
