<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game View</title>
    <script>
      const gameId = window.location.pathname.split("/").pop();

      function copyLink() {
        navigator.clipboard.writeText(
          window.location.origin + "/play/" + gameId
        );
        alert("Link copied!");
      }

      function deleteGame() {
        localStorage.removeItem("wattamellon_token");
        window.location.href = "/";
      }
    </script>
  </head>
  <body>
    <h1>Game sessions for {{.Game.Name}}</h1>
    <img src="{{.Game.Thumbnail}}" alt="{{.Game.Name}}" />
    <p>Share this link with your friends:</p>
    <input type="text" value="" id="gameLink" readonly />
    <button onclick="copyLink()">Copy Link</button>

    <div id="sessions">
      {{if .GameSessions}}
      <h2>Players</h2>
      {{range .GameSessions}}
      <div>Player: {{.PlayerToken}} | Score: {{.SuccessRate}}%</div>
      {{end}} {{else}}
      <p>No players have played this game yet.</p>
      {{end}}
    </div>
    <button onclick="deleteGame()">Delete Game</button>
  </body>
</html>
